<header>
  <h1>{{title}}</h1>
  <nav>
    <ul>
      <a href="./">To Home</a>
      <a href="./about">To About</a>
      <a href="./portfolio">To Portfolio</a>
      <a href="./contact">To Contact</a>
    </ul>
  </nav>
</header>
