<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <header>
    <h1>{{title}}</h1>
    <nav>
      <ul>
        <a href="./">To Home</a>
        <a href="./about">To About</a>
        <a href="./contact">To Contact</a>
      </ul>
    </nav>
  </header>
  <main>
    <p>{{about}}</p>
  </main>
  {{> footer}}
</body>

</html>
